[submodule "site-lisp/mu"]
	path = site-lisp/mu
	url = git://github.com/djcb/mu.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "harvest"]
	path = site-lisp/harvest
	url = https://github.com/rollacaster/harvest.el.git
