auto-save-list
backups
.places
session.*
elpa
/var/
/url/
history
/server/
/projectile-bookmarks.eld
/bookmarks
/projectile.cache
/tramp
/smex-items
/ido.last
/ac-comphist.dat
/recentf
/eshell
/.mc-lists.el
abbrev_defs
fixture/
semanticdb/
emojis
.harvest/
basic.ics
.org-id-locations
org-gcal
/diary
custom.el
xkcd/
/meghanada
/quelpa
/site-lisp
/.contexts
/.trello
/request
/adafruit-wisdom.cache
/cider-history
/magithub
/mail.el
/network-security.data
/.edbi-ds-history
/transient/history.el
/dbs.el
/slack.el
/transient/
/nov-places
/elpa-old
